@font-face {
    font-family: "Cascadia Code";
    src: url('./CascadiaCodePL-Regular.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Cascadia Code";
    src: url('./CascadiaCodePL-Bold.otf') format('truetype');
    font-weight: bold;
}


*{
    font-family: 'Cascadia Code', sans-serif;
    padding: 0px;
	margin: 0px;
	border: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodycontainer{
    width: 1150px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-top: 32px;
    

    p{
        font-size: 40px;
        transition: transform ease 0.1s;

        span{
            &:hover{
                text-decoration: underline;
            }
        }

        &:hover{
            transform: scale(1.05);
        }
    }

    .first{
        margin-right: 74px;
    }

    .devider{
        height: 25px;
        background-color: black;
        width: 3px;
        margin: 0 37px;
        border-radius: 3px;
    }

    a{
        transition: transform ease 0.1s;

        &:hover{
            transform: scale(1.05);
            text-decoration: underline;
        }
    }


}

.wnow{
    margin-top: 347px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 48px;
        text-align: center;
        margin-bottom: 34px;
    }
    button{
        font-size: 36px;
        background-color: white;
        border: 5px solid black;
        border-radius: 15px;
        width: 320px;
        height: 70px;
        margin-bottom: 347px;
        cursor: pointer;
        transition: transform ease 0.1s, background ease 0.1s, color ease 0.1s;
        &:hover{
            transform: scale(1.05);
            background-color: black;
            color: white;
        }
    }

    .devider{
        width: 500px;
        height: 5px;
        border-radius: 3px;
        background-color: black;
        margin-bottom: 32px;
    }
}